/* Global CSS Variables */
:root {
    --primary-color: #3498db;      
    --secondary-color: white;      
    --background-color: #f5f6f8;

    --font-size-base: 14px; 
    --font-size-avatar:12px;       
    --font-size-heading: 14px;     
    --border-radius: 8px;          
    --spacing-unit: 8px;           
}

/* Global Typography */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
